*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: snow;
    margin: auto;
    font-family: Arial, sans-serif;
    color: black;
}

header{
    display: block;
    background-color: darkgray;
    padding: 3%;
}

nav.navbar ul {
    position: absolute;
    list-style: none;
    top: 50px;
    left: 550px;
}

nav.navbar li{
    display: inline-block;
    margin-left: 2px;
    background-color: #e4cfcf;
    border-radius: 50px;
    padding: 5px 15px;
    border: none;
}

nav.navbar li:hover{
    display: inline-block;
    margin-left: 2px;
    background-color: #383737;
    border-radius: 50px;
    padding: 5px 15px;
    border: none;
    transition: background-color 1s;
}

nav.navbar a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: text-decoration 1s;
}

nav.navbar a:hover{
    color: white;
    text-decoration: underline;
}

div.container{
    padding: 5px
}
